<template>
  <b-container fluid>
    <b-row>
      <b-col><Header></Header></b-col>
    </b-row>
    <b-row>
      <b-col><Menu></Menu></b-col>
    </b-row>
    <b-row>
      <b-col rows="10"><router-view></router-view></b-col>
    </b-row>
  </b-container>
</template>

<script>
import Menu from './Menu'
import Header from './Header'
export default {
  components: {
    Menu,
    Header
  }
}
</script>
