<template>
  <div>
    <b-button
      variant="success"
      style="float:right; margin-right:157px"
      @click="addNewUser"
      >เพิ่มข้อมูล</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ชื่อ-นามสกุล"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="เพศ"
          v-slot="{ ariaDescribedby }"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-radio-group
            v-model="form.gender"
            :options="genderOption"
            :aria-describedby="ariaDescribedby"
            name="Gender"
          >
          </b-form-radio-group>
        </b-form-group>
        <label for="birthday">เกิดวันที่</label>
        <b-form-datepicker
          id="birthday"
          v-model="form.birthday"
          class="mb-2"
          :state="false"
        ></b-form-datepicker>
        <b-form-group
          label="ตำแหน่ง"
          label-for="position"
          :invalid-feedback="invalidFeedbackPosition"
          :valid-feedback="validFeedbackPosition"
          :state="statePosition"
        >
          <b-form-input
            id="position"
            v-model="form.position"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="อีเมล"
          label-for="email"
          :invalid-feedback="invalidFeedbackEmail"
          :valid-feedback="validFeedbackEmail"
          :state="stateEmail"
        >
          <b-form-input
            type="email"
            id="email"
            v-model="form.email"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button variant="warning" @click="editUser(data.item)"
          >แก้ไข</b-button
        >
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">ลบ</b-button>
      </template>
    </b-table>
  </div>
</template>
<script>
export default {
  data () {
    return {
      title: 'เพิ่มข้อมูล',
      form: {
        id: -1,
        name: '',
        gender: '',
        birthday: '',
        position: '',
        email: ''
      },
      value: null,
      genderOption: [
        { text: 'ผู้ชาย', value: 'M' },
        { text: 'ผู้หญิง', value: 'F' }
      ],

      userList: [
        {
          id: 1,
          name: 'Pakawat K',
          gender: 'M',
          birthday: '1989-02-01',
          position: 'Dev',
          email: 'test1@hotmail.com'
        },
        {
          id: 2,
          name: 'Threerawen W',
          gender: 'M',
          birthday: '1990-11-04',
          position: 'SA',
          email: 'test2@hotmail.com'
        }
      ],
      lastId: 3,
      fields: [
        'id',
        'name',
        'gender',
        'birthday',
        'position',
        'email',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log(user)
      this.title = 'แก้ไขข้อมูล'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      this.$bvModal
        .msgBoxConfirm('คุณต้องการลบข้อมูลชุดนี้หรือไม่ ?', {
          title: 'ยืนยันการลบข้อมูล',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'ยืนยัน',
          cancelTitle: 'ยกเลิก',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) this.deleteUser(user)
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        gender: '',
        birthday: '',
        position: '',
        email: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      if (
        this.stateName === false ||
        this.statePosition === false ||
        this.stateEmail === false ||
        this.stateGender === false
      ) {
        return
      }
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกชื่อ-นามสกุล'
      }
    },
    validFeedbackName () {
      return this.statePosition === true ? '' : ''
    },
    statePosition () {
      return this.form.position.length >= 2
    },
    invalidFeedbackPosition () {
      if (this.form.position.length > 2) {
        return ''
      } else if (this.form.position.length > 0) {
        return 'กรุณากรอกข้อมูลอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'กรุณากรอกตำแหน่งงาน'
      }
    },
    validFeedbackPosition () {
      return this.statePosition === true ? '' : ''
    },
    stateEmail () {
      return this.form.email.length >= 10
    },
    invalidFeedbackEmail () {
      if (this.form.email.length > 10) {
        return ''
      } else if (this.form.email.length > 0) {
        return 'กรุณากรอกอีเมลให้ถูกต้อง'
      } else {
        return 'กรุณากรอกอีเมล'
      }
    },
    validFeedbackEmail () {
      return this.email === true ? '' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'aaaaaa'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? '' : ''
    }
  }
}
</script>
