<template>
  <div>
    <MyCounter begin="1" @inc="inc" @dec="dec">
      My Count
      <template #dec>
        ลบ
      </template>
      <template #inc>
        บวก
      </template>
    </MyCounter>
  </div>
</template>
<script>
import MyCounter from '../components/MyCounter.vue'
export default {
  data () {
    return {}
  },
  methods: {
    inc: function (number) {
      console.log('Counter view inc ' + number)
    },
    dec: function (number) {
      console.log('Counter view dec ' + number)
    }
  },
  components: {
    MyCounter
  }
}
</script>
